@using LaytonYSAClerk.WebTool.Services
@using MongoDB.Bson
@inject NavigationManager NavigationManager

<MudCard>
    <MudCardHeader>
        <MudText>
            @(string.Join(", ", Group.GroupMembers.Select(m => m.FullName)))
        </MudText>
    </MudCardHeader>
    <MudCardContent>
        <ul>
            @foreach (var member in Group.ObjectiveMembers ?? [])
            {
                <li>@member.Name</li>
            }
        </ul>
    </MudCardContent>
    <MudCardActions>
        <MudButton OnClick="@(() => ActivityGroupDetails(Group.GroupId))">Details</MudButton>
    </MudCardActions>
</MudCard>

@code {

    [Parameter]
    public ObjectId ActivityId { get; set; }
    
    [Parameter]
    public MemberGroup Group { get; set; } = null!;

    private void ActivityGroupDetails(ObjectId id)
    {
        NavigationManager.NavigateTo($"/activities/{ActivityId.ToString()}/group/{id.ToString()}");
    }
}