<h3>NavigationBar</h3>

<MudDrawer Open="@true" Anchor="Anchor.Start">
    <MudDrawerHeader>Northridge YSA</MudDrawerHeader>'
    <MudNavMenu>
        <MudNavLink Match="NavLinkMatch.All" Href="activities">Activities</MudNavLink>
    </MudNavMenu>
</MudDrawer>

@code {
}