@page "/"

<PageTitle>Home</PageTitle>

<MudContainer Style="margin-top: 10px;">
    <MudPaper Elevation="2">
        <MudGrid Spacing="4">
            <MudItem xs="12">
                <MudImage Alt="Church of Jesus Christ of Later Day Saints logo" Src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaMIsU-RXr2I1R-sqTFqxqigxVrspvGV3TpA&s" />
                <div style="display: inline-block;">
                    <MudText Typo="Typo.h5">Northridge YSA 26-35</MudText>
                    <MudLink Color="Color.Primary" Href="/activities">To Activities</MudLink>
                </div>
            </MudItem>
        </MudGrid>
    </MudPaper>
</MudContainer>
